<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>appwebfilter</display-name>
    <filter>
    	<description>
    	</description>
    	<display-name>FilterGeneral</display-name>
    	<filter-name>FilterGeneral</filter-name>
    	<filter-class>cl.keanzato.app.filter.FilterGeneral</filter-class>
    </filter>
    <filter>
    	<description>
    	</description>
    	<display-name>FilterServletSalida</display-name>
    	<filter-name>FilterServletSalida</filter-name>
    	<filter-class>cl.keanzato.app.filter.FilterServletSalida</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>FilterGeneral</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>FilterServletSalida</filter-name>
    	<url-pattern>/ServletSalida</url-pattern>
    </filter-mapping>
    <servlet>
    	<description>
    	</description>
    	<display-name>ServletIndex</display-name>
    	<servlet-name>ServletIndex</servlet-name>
    	<servlet-class>cl.keanzato.app.servlet.ServletIndex</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ServletSalida</display-name>
    	<servlet-name>ServletSalida</servlet-name>
    	<servlet-class>cl.keanzato.app.servlet.ServletSalida</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ServletIndex</servlet-name>
    	<url-pattern>/ServletIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ServletSalida</servlet-name>
    	<url-pattern>/ServletSalida</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ServletIndex</welcome-file>
        </welcome-file-list>
    </web-app>
