<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>appwebservlets</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>ServletRespuesta</display-name>
    	<servlet-name>ServletRespuesta</servlet-name>
    	<servlet-class>cl.keanzato.servlet.ServletRespuesta</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>IndexServlet</display-name>
    	<servlet-name>IndexServlet</servlet-name>
    	<servlet-class>cl.keanzato.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ServletRespuesta</servlet-name>
    	<url-pattern>/ServletRespuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>IndexServlet</servlet-name>
    	<url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>IndexServlet</welcome-file>
    </welcome-file-list>
    </web-app>
